@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: rgb(92, 114, 133);
    --color-secondary: rgb(129, 140, 120);
    --color-accent: rgb(167, 180, 158);
    --color-background: rgb(226, 224, 200);
}

body {
    background-color: var(--color-background);
    font-family: 'Fira Sans', serif;
}

header {
    background-color: var(--color-primary);
    border-radius: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: default;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--color-accent);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-links li {
    margin-left: 20px;
    background-color: var(--color-secondary);
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 1em;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 25px;
    height: 3px;
    background: var(--color-accent);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Add this to your styles.css */
.nav-active {
    display: flex !important;
}

.burger.toggle .burger-line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.toggle .burger-line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 92%;
        position: absolute;
        top: 60px;
        background: var(--color-secondary);
        border-radius: 1em;
    }

    .nav-links li {
        text-align: center;
        margin: 0;
        border-radius: 0;
    }

    .nav-links li:first-of-type {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .nav-links li:last-of-type {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .burger {
        display: block;
    }
}

nav li:hover {
    background-color: var(--color-accent);
}